{% extends "base.html" %}

{% block title %}Capybara Clicker Pro - Play Capybara Clicker Pro On Bear Clicker Game{% endblock %}

{% block meta_description %}
<meta name="description" content="Capybara Clicker Pro offers addictive idle gameplay, letting you tap adorable capybaras to earn coins in this FreezeNova creation.">
{% endblock %}

{% block og_title %}Capybara Clicker Pro - Play Capybara Clicker Pro On Bear Clicker Game{% endblock %}
{% block og_description %}Capybara Clicker Pro offers addictive idle gameplay, letting you tap adorable capybaras to earn coins in this FreezeNova creation.{% endblock %}

{% block favicon %}
<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon/capybara-clicker-pro-favicon.png') }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon/capybara-clicker-pro-apple-touch-icon.png') }}">
{% endblock %}

{% block content %}
<div class="relative overflow-hidden">
    {% with 
        gradient_colors="from-pink-400 via-purple-500 to-indigo-600",
        blob_gradient_1="from-pink-500 to-purple-500",
        blob_gradient_2="from-purple-500 to-indigo-500",
        title_gradient="from-pink-500 via-purple-500 to-indigo-500",
        game_url="https://bearclicker.net/game/capybara-clicker-pro",
        title="Capybara Clicker Pro",
        description="Capybara Clicker Pro offers addictive idle gameplay, letting you tap adorable capybaras to earn coins in this FreezeNova creation."
    %}
        {% include 'components/hero.html' %}
    {% endwith %}


    <!-- Trending Games Section -->
    {% with current_page='capybara-clicker-pro' %}
    {% include 'components/trending_games.html' %}
    {% endwith %}
    

    
   <!-- FAQ Section -->
{% include 'components/faq_section.html' %}
</div>
{% endblock %}
