{% extends "base.html" %}

{% block title %}Cookie Clicker - Play Cookie Clicker On Bear Clicker Game{% endblock %}

{% block meta_description %}
<meta name="description" content="Cookie Clicker is an addictive browser-based clicker game where players strategically click a giant cookie to generate massive cookie production through incremental upgrades.">
{% endblock %}

{% block og_title %}Cookie Clicker - Play Cookie Clicker On Bear Clicker Game{% endblock %}
{% block og_description %}Cookie Clicker is an addictive browser-based clicker game where players strategically click a giant cookie to generate massive cookie production through incremental upgrades.{% endblock %}

{% block favicon %}
<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon/cookie-clicker-favicon.png') }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon/cookie-clicker-apple-touch-icon.png') }}">
{% endblock %}

{% block content %}
<div class="relative overflow-hidden">
    {% with 
        gradient_colors="from-pink-400 via-purple-500 to-indigo-600",
        blob_gradient_1="from-pink-500 to-purple-500",
        blob_gradient_2="from-purple-500 to-indigo-500",
        title_gradient="from-pink-500 via-purple-500 to-indigo-500",
        game_url="https://stimulationclicker.com/cookie-clicker.embed",
        title="Cookie Clicker",
        description="Cookie Clicker is an addictive browser-based clicker game where players strategically click a giant cookie to generate massive cookie production through incremental upgrades."
    %}
        {% include 'components/hero.html' %}
    {% endwith %}


    <!-- Trending Games Section -->
    {% with current_page='cookie-clicker' %}
    {% include 'components/trending_games.html' %}
    {% endwith %}
    

    
   <!-- FAQ Section -->
{% include 'components/faq_section.html' %}
</div>
{% endblock %}
