{% extends "base.html" %}

{% block title %}Crusher Clicker - Play Crusher Clicker On Bear Clicker Game{% endblock %}

{% block meta_description %}
<meta name="description" content="Crusher Clicker: An addictive idle game where you crush rocks and crystals, then upgrade your tools to boost smashing power and speed.">
{% endblock %}

{% block og_title %}Crusher Clicker - Play Crusher Clicker On Bear Clicker Game{% endblock %}
{% block og_description %}Crusher Clicker: An addictive idle game where you crush rocks and crystals, then upgrade your tools to boost smashing power and speed.{% endblock %}

{% block favicon %}
<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon/crusher-clicker-favicon.png') }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon/crusher-clicker-apple-touch-icon.png') }}">
{% endblock %}

{% block content %}
<div class="relative overflow-hidden">
    {% with 
        gradient_colors="from-red-900 via-red-700 to-black",
        blob_gradient_1="from-red-900 to-red-700",
        blob_gradient_2="from-red-700 to-black",
        title_gradient="from-red-600 via-red-500 to-black",
        game_url="https://stimulationclicker.com/crusher-clicker.embed",
        title="Crusher Clicker",
        description="Crusher Clicker: An addictive idle game where you crush rocks and crystals, then upgrade your tools to boost smashing power and speed."
    %}
        {% include 'components/hero.html' %}
    {% endwith %}


    <!-- Trending Games Section -->
    {% with current_page='crusher-clicker' %}
    {% include 'components/trending_games.html' %}
    {% endwith %}
    

    
   <!-- FAQ Section -->
{% include 'components/faq_section.html' %}
</div>
{% endblock %}
