{% extends "base.html" %}

{% block title %}Play Dreamy Room On Bear Clicker{% endblock %}

{% block meta_description %}
<meta name="description" content="Design your cozy tiny home in Dreamy Room! This interior game is packed with stylish choices and arrangements, letting you build beauty in every compact corner.">
{% endblock %}

{% block og_title %}Play Dreamy Room On Bear Clicker{% endblock %}
{% block og_description %}Design your cozy tiny home in Dreamy Room! This interior game is packed with stylish choices and arrangements, letting you build beauty in every compact corner.{% endblock %}

{% block favicon %}
<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon/dreamy-room-favicon.png') }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon/dreamy-room-apple-touch-icon.png') }}">
{% endblock %}

{% block content %}
<div class="relative overflow-hidden">
    {% with 
        gradient_colors="from-pink-400 via-purple-500 to-indigo-600",
        blob_gradient_1="from-pink-500 to-purple-500",
        blob_gradient_2="from-purple-500 to-indigo-500",
        title_gradient="from-pink-500 via-purple-500 to-indigo-500",
        game_url="https://bearclicker.net/game/dreamy-room",
        title="Dreamy Room",
        description="Design your cozy tiny home in Dreamy Room! This interior game is packed with stylish choices and arrangements, letting you build beauty in every compact corner."
    %}
        {% include 'components/hero.html' %}
    {% endwith %}


    <!-- Trending Games Section -->
    {% with current_page='dreamy-room' %}
    {% include 'components/trending_games.html' %}
    {% endwith %}
    

    
   <!-- FAQ Section -->
{% include 'components/faq_section.html' %}
</div>
{% endblock %}
