{% extends "base.html" %}

{% block title %}Ice Cream Clicker - Play Ice Cream Clicker On Bear Clicker Game{% endblock %}

{% block meta_description %}
<meta name="description" content="Ice Cream Clicker is a thrilling incremental game where players tap to grow a frozen dessert empire. Enjoy strategic upgrades, vibrant visuals, and satisfying progression mechanics in this sweet-themed adventure.">
{% endblock %}

{% block og_title %}Ice Cream Clicker - Play Ice Cream Clicker On Bear Clicker Game{% endblock %}
{% block og_description %}Ice Cream Clicker is a thrilling incremental game where players tap to grow a frozen dessert empire. Enjoy strategic upgrades, vibrant visuals, and satisfying progression mechanics in this sweet-themed adventure.{% endblock %}

{% block favicon %}
<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon/ice-cream-clicker-favicon.png') }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon/ice-cream-clicker-apple-touch-icon.png') }}">
{% endblock %}

{% block content %}
<div class="relative overflow-hidden">
    {% with 
        gradient_colors="from-pink-400 via-purple-500 to-indigo-600",
        blob_gradient_1="from-pink-500 to-purple-500",
        blob_gradient_2="from-purple-500 to-indigo-500",
        title_gradient="from-pink-500 via-purple-500 to-indigo-500",
        game_url="https://stimulationclicker.com/ice-cream-clicker.embed",
        title="Ice Cream Clicker",
        description="Ice Cream Clicker is a thrilling incremental game where players tap to grow a frozen dessert empire. Enjoy strategic upgrades, vibrant visuals, and satisfying progression mechanics in this sweet-themed adventure."
    %}
        {% include 'components/hero.html' %}
    {% endwith %}

    <!-- Trending Games Section -->
    {% with current_page='ice-cream-clicker' %}
    {% include 'components/trending_games.html' %}
    {% endwith %}
    

    
   <!-- FAQ Section -->
{% include 'components/faq_section.html' %}
</div>
{% endblock %}
