{% extends "base.html" %}

{% block title %}Bear Clicker Game | Bear Clicker Is Out Now!!!{% endblock %}

{% block meta_description %}
<meta name="description" content="BearClicker, A New Bear Clicker Game Online, Create unique bear compositions, experience fun sound effects, and immerse yourself on bearclicker net">
{% endblock %}

{% block og_title %}Bear Clicker Game | Bear Clicker Is Out Now!!!{% endblock %}
{% block og_description %}BearClicker, A New Bear Clicker Game Online, Create unique bear compositions, experience fun sound effects, and immerse yourself on bearclicker net{% endblock %}

{% block content %}
<div class="relative overflow-hidden">
    {% with 
        gradient_colors="from-red-900 via-red-700 to-black",
        blob_gradient_1="from-red-900 to-red-700",
        blob_gradient_2="from-red-700 to-black",
        title_gradient="from-red-600 via-red-500 to-black",
        game_url="https://www.dormausvalley.com/bluesquirrel/game/bear/bear.html",
        title="Bear Clicker",
        description="BearClicker, A New Bear Clicker Game Online, Create unique bear compositions, experience fun sound effects, and immerse yourself on bearclicker net"
    %}
        {% include 'components/hero.html' %}
    {% endwith %}

    {% with videos=[
        {'video_id': 'Dm9cmXRqDBg'}
    ] %}
    {% include 'components/trending_videos.html' %}
    {% endwith %}

    <!-- Adsterra Native Banner Ad -->
    <div class="container mx-auto px-4 py-8">
        <script async="async" data-cfasync="false" src="//pl25843851.effectiveratecpm.com/0c2452b9123869125fc90f3dbe988f65/invoke.js"></script>
<div id="container-0c2452b9123869125fc90f3dbe988f65"></div>
    </div>
    
    <!-- Trending Games Section -->
    {% with current_page='index' %}
    {% include 'components/trending_games.html' %}
    {% endwith %}

    
   <!-- FAQ Section -->
{% include 'components/faq_section.html' %}
</div>
{% endblock %}
