{% extends "base.html" %}

{% block title %}Play Italian Brainrot Clicker 2 On Bear Clicker{% endblock %}

{% block meta_description %}
<meta name="description" content="Italian Brainrot Clicker 2: A hilarious clicker game featuring bizarre characters like Tralalero Tralala and Tung Tung Tung Sahur. Click to encounter the meme madness!">
{% endblock %}

{% block og_title %}Play Italian Brainrot Clicker 2 On Bear Clicker{% endblock %}
{% block og_description %}Italian Brainrot Clicker 2: A hilarious clicker game featuring bizarre characters like Tralalero Tralala and Tung Tung Tung Sahur. Click to encounter the meme madness!{% endblock %}

{% block favicon %}
<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon/italian-brainrot-clicker-2-favicon.png') }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon/italian-brainrot-clicker-2-apple-touch-icon.png') }}">
{% endblock %}

{% block content %}
<div class="relative overflow-hidden">
    {% with 
        gradient_colors="from-pink-400 via-purple-500 to-indigo-600",
        blob_gradient_1="from-pink-500 to-purple-500",
        blob_gradient_2="from-purple-500 to-indigo-500",
        title_gradient="from-pink-500 via-purple-500 to-indigo-500",
        game_url="https://playhop.com/dist-app/426147?utm_source=distrib&amp;utm_medium=bravekieu",
        title="Italian Brainrot Clicker 2",
        description="Italian Brainrot Clicker 2: A hilarious clicker game featuring bizarre characters like Tralalero Tralala and Tung Tung Tung Sahur. Click to encounter the meme madness!"
    %}
        {% include 'components/hero.html' %}
    {% endwith %}


    <!-- Trending Games Section -->
    {% with current_page='italian-brainrot-clicker-2' %}
    {% include 'components/trending_games.html' %}
    {% endwith %}
    

    
   <!-- FAQ Section -->
{% include 'components/faq_section.html' %}
</div>
{% endblock %}
