{% extends "base.html" %}

{% block title %}Omega Nuggets Clicker - Play Omega Nuggets Clicker On Bear Clicker Game{% endblock %}

{% block meta_description %}
<meta name="description" content="Omega Nuggets Clicker: Click to evolve your character from an egg into various nugget forms! Collect coins and buy upgrades to enhance your progress.">
{% endblock %}

{% block og_title %}Omega Nuggets Clicker - Play Omega Nuggets Clicker On Bear Clicker Game{% endblock %}
{% block og_description %}Omega Nuggets Clicker: Click to evolve your character from an egg into various nugget forms! Collect coins and buy upgrades to enhance your progress.{% endblock %}

{% block favicon %}
<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon/omega-nuggets-clicker-favicon.png') }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon/omega-nuggets-clicker-apple-touch-icon.png') }}">
{% endblock %}

{% block content %}
<div class="relative overflow-hidden">
    {% with 
        gradient_colors="from-pink-400 via-purple-500 to-indigo-600",
        blob_gradient_1="from-pink-500 to-purple-500",
        blob_gradient_2="from-purple-500 to-indigo-500",
        title_gradient="from-pink-500 via-purple-500 to-indigo-500",
        game_url="https://bearclicker.net/game/omega-nuggets-clicker",
        title="Omega Nuggets Clicker",
        description="Omega Nuggets Clicker: Click to evolve your character from an egg into various nugget forms! Collect coins and buy upgrades to enhance your progress.",
        open_in_new_tab=False
    %}
        {% include 'components/hero.html' %}
    {% endwith %}


    <!-- Trending Games Section -->
    {% with current_page='omega-nuggets-clicker' %}
    {% include 'components/trending_games.html' %}
    {% endwith %}
    

    
   <!-- FAQ Section -->
{% include 'components/faq_section.html' %}
</div>
{% endblock %}
