{% extends "base.html" %}

{% block title %}Sprunki Clicker - Play Sprunki Clicker On Bear Clicker Game{% endblock %}

{% block meta_description %}
<meta name="description" content="Sprunki Clicker revitalizes the clicker genre with addictive gameplay and creative twists inspired by the viral hit Incredibox Sprunki.">
{% endblock %}

{% block og_title %}Sprunki Clicker - Play Sprunki Clicker On Bear Clicker Game{% endblock %}
{% block og_description %}Sprunki Clicker revitalizes the clicker genre with addictive gameplay and creative twists inspired by the viral hit Incredibox Sprunki.{% endblock %}

{% block favicon %}
<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon/sprunki-clicker-favicon.png') }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon/sprunki-clicker-apple-touch-icon.png') }}">
{% endblock %}

{% block content %}
<div class="relative overflow-hidden">
    {% with 
        gradient_colors="from-pink-400 via-purple-500 to-indigo-600",
        blob_gradient_1="from-pink-500 to-purple-500",
        blob_gradient_2="from-purple-500 to-indigo-500",
        title_gradient="from-pink-500 via-purple-500 to-indigo-500",
        game_url="https://bearclicker.net/game/sprunki-clicker",
        title="Sprunki Clicker",
        description="Sprunki Clicker revitalizes the clicker genre with addictive gameplay and creative twists inspired by the viral hit Incredibox Sprunki."
    %}
        {% include 'components/hero.html' %}
    {% endwith %}


    <!-- Trending Games Section -->
    {% with current_page='sprunki-clicker' %}
    {% include 'components/trending_games.html' %}
    {% endwith %}
    

    
   <!-- FAQ Section -->
{% include 'components/faq_section.html' %}
</div>
{% endblock %}
