{% extends "base.html" %}

{% block title %}Stimulation Clicker by Neal Agarwal: Fast clicks, earn stimulation points!{% endblock %}

{% block meta_description %}
<meta name="description" content="Stimulation Clicker, crafted by Neal Agarwal, is a fast - paced game where you click to gather stimulation points. ">
{% endblock %}

{% block og_title %}Stimulation Clicker by Neal Agarwal: Fast clicks, earn stimulation points!{% endblock %}
{% block og_description %}Stimulation Clicker, crafted by Neal Agarwal, is a fast - paced game where you click to gather stimulation points. {% endblock %}

{% block favicon %}
<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon/stimulation-clicker-favicon.png') }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon/stimulation-clicker-apple-touch-icon.png') }}">
{% endblock %}

{% block content %}
<div class="relative overflow-hidden">
    {% with 
        gradient_colors="from-red-900 via-red-700 to-black",
        blob_gradient_1="from-red-900 to-red-700",
        blob_gradient_2="from-red-700 to-black",
        title_gradient="from-red-600 via-red-500 to-black",
        game_url="https://bearclicker.net/game/stimulation-clicker",
        title="Stimulation Clicker",
        description="Stimulation Clicker, crafted by Neal Agarwal, is a fast - paced game where you click to gather stimulation points."
        open_in_new_tab=False
    %}
        {% include 'components/hero.html' %}
    {% endwith %}

    {% with videos=[
        {'video_id': 'DuQi5VmEPqM'},
        {'video_id': '3xL9myDHTCY'},
        {'video_id': 'tQ7DrdXKEf4'},
        {'video_id': 'EgFoBzXRzJU'}
    ] %}
    {% include 'components/trending_videos.html' %}
    {% endwith %}

    


    <!-- Trending Games Section -->
    {% with current_page='stimulation-clicker' %}
    {% include 'components/trending_games.html' %}
    {% endwith %}
    

    
   <!-- FAQ Section -->
{% include 'components/faq_section.html' %}
</div>
{% endblock %}
