{% extends "base.html" %}

{% block title %}Titans Clicker - Play Titans Clicker On Bear Clicker Game{% endblock %}

{% block meta_description %}
<meta name="description" content="Titans Clicker is an addictive idle clicker game merging strategic depth with intuitive tap mechanics, crafted by Giant Games for immersive casual play.">
{% endblock %}

{% block og_title %}Titans Clicker - Play Titans Clicker On Bear Clicker Game{% endblock %}
{% block og_description %}Titans Clicker is an addictive idle clicker game merging strategic depth with intuitive tap mechanics, crafted by Giant Games for immersive casual play.{% endblock %}

{% block favicon %}
<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon/titans-clicker-favicon.png') }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon/titans-clicker-apple-touch-icon.png') }}">
{% endblock %}

{% block content %}
<div class="relative overflow-hidden">
    {% with 
        gradient_colors="from-red-900 via-red-700 to-black",
        blob_gradient_1="from-red-900 to-red-700",
        blob_gradient_2="from-red-700 to-black",
        title_gradient="from-red-600 via-red-500 to-black",
        game_url="https://stimulationclicker.com/titans-clicker.embed",
        title="Titans Clicker",
        description="Titans Clicker is an addictive idle clicker game merging strategic depth with intuitive tap mechanics, crafted by Giant Games for immersive casual play."
    %}
        {% include 'components/hero.html' %}
    {% endwith %}


    <!-- Trending Games Section -->
    {% with current_page='titans-clicker' %}
    {% include 'components/trending_games.html' %}
    {% endwith %}
    

    
   <!-- FAQ Section -->
{% include 'components/faq_section.html' %}
</div>
{% endblock %}
